// index.scss

// Bigger screen desktop
@media (max-width: 150em) and (orientation: landscape) {
	.App {
		.App-content {
			grid-template-columns: 10em 20em auto 20em 10em;
		}
	}
}

// Smaller screen desktop
@media (max-width: 100em) and (orientation: landscape) {
	body {
		font-size: 0.9em;
	}
	.App {
		.App-content {
			grid-template-columns: 0 10em auto 10em 0;
		}
	}
}
