// index.scss

// Color palette and fonts
@import './colors';
@import './fonts';

// Components
@import './App';
@import './menu';
@import './AboutMe';
@import './ProjectList';
@import './Contact';
@import './TagList';

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
}
