// menu.scss

.menu {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.menu-items {
		display: flex;
		flex-flow: row;
		color: $LYNX_WHITE;
		font-family: 'Viga', sans-serif;
		font-size: 1.2em;

		.menu-item {
			padding-bottom: 1em;
			margin: 0 2em 0 2em;
			box-sizing: border-box;
			display: flex;
			flex-flow: row;
			color: $LYNX_WHITE;
			font-family: 'Viga', sans-serif;
			font-size: 1.2em;
			cursor: pointer;
			border-bottom: solid 0.2em rgba(0, 0, 0, 0);

			&.selected,
			&:hover {
				border-bottom: solid 0.2em $FLOWER;
			}
		}
	}
}
