// index.scss

// Tablet
@media (max-width: 100em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}

		// &:before {
		// 	background-size: 3360px 2100px;
		// }
	}

	.ProjectList-content {
		justify-content: center;
	}
}

// Mobile
@media (max-width: 50em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}

		// &:before {
		// 	background-size: 3360px 2100px;
		// }
	}
	.ProjectList {
		.ProjectList-content {
			justify-content: center;

			.Project {
				font-size: 1.2em;
			}
		}
	}

	.App .App-content .App-contact {
		font-size: 1.4em;
	}

	.AboutMe {
		font-size: 2.9em;
	}
	.TagList {
		width: 100%;
	}
}

// Mobile landscape
@media (max-width: 50em) and (orientation: landscape) {
	body {
		font-size: 0.6em;
	}
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}

		// &:before {
		// 	background-size: 3360px 2100px;
		// }
	}
	.ProjectList {
		.ProjectList-content {
			justify-content: center;
			.Project {
				font-size: 1em;
			}
		}
	}

	.TagList {
		width: 100%;
	}
}

// Small-ish Mobile
@media (max-width: 30em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	body {
		font-size: 0.6em;
	}
}

// Small Mobile
@media (max-width: 25em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	body {
		font-size: 0.55em;
	}
}

// Smallest Mobile
@media (max-width: 20em) and (orientation: portrait) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	body {
		font-size: 0.5em;
	}
}

// Smallest Mobile
@media (max-height: 20em) and (orientation: landscape) {
	.App {
		.App-content {
			grid-template-columns: 0 0 auto 0 0;
		}
	}
	body {
		font-size: 0.7em;
	}
}
